
@font-face {font-family: "Crimson R";src: url('../fonts/crimson_text/CrimsonText-Regular.ttf');}
@font-face {font-family: "Barlow Condensed R";src: url('../fonts/barlow_condensed/BarlowCondensed-Regular.ttf');}
@font-face {font-family: "Barlow Condensed L";src: url('../fonts/barlow_condensed/BarlowCondensed-Light.ttf');}
@font-face {font-family: "Barlow Condensed T";src: url('../fonts/barlow_condensed/BarlowCondensed-Thin.ttf');}

// Font
$font-crimson-r:            "Crimson R" !default;
$font-barlow-condensed-r:   "Barlow Condensed R" !default;
$font-barlow-condensed-l:   "Barlow Condensed L" !default;
$font-barlow-condensed-t:   "Barlow Condensed T" !default;

// Color
$color-orange-custome:      rgba(242, 196, 109, 1) !default;
$color-white:               white !default;
$color-black-100:           rgba(0,0,0,1) !default;
$color-black-80:            rgba(0,0,0,.8) !default;
$color-black-70:            rgba(0,0,0,.7) !default;
$color-black-10:            rgba(0,0,0,.1) !default;

// Size
$font-size:                   1rem !default;
$h1-font-size:                $font-size * 2.5 !default;
$h2-font-size:                $font-size * 2 !default;
$h3-font-size:                $font-size * 1.75 !default;
$h4-font-size:                $font-size * 1.5 !default;
$h5-font-size:                $font-size * 1.25 !default;
$h6-font-size:                $font-size !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$line-height:                 1.5 !default;

$w-100:                       100% !default;
$w-75:                        75% !default;
$w-60:                        60% !default;
$w-50:                        50% !default;
$w-35:                        35% !default;
$w-30:                        30% !default;
$w-25:                        25% !default;

$h-100:                       100% !default;
$h-75:                        75% !default;
$h-50:                        50% !default;
$h-25:                        25% !default;

// Padding
$padding-button:              7px 35px;
$padding-nav:                 0 10em;
$padding-nav-items:           10px 30px;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-barlow-condensed-l;
	scroll-behavior: smooth;
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

button{
    padding: $padding-button;
}

button, a {
    letter-spacing: 1px;
    color: $color-white;
    text-decoration: none;
}

img {
    height: $h-100;
    width: $w-100;
}

article {
    width: $w-100;
}


.row {
    padding: 0 4px;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
  
.btn {
    padding: $padding-button;
}

.btn-style {
    background-color: $color-orange-custome;
    font-family: $font-barlow-condensed-r !important;
    font-size: $font-size;
    color: $color-white;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}


section h1 {
    font-size: $h1-font-size;
}

nav.nav {
    background: transparent;
    padding: $padding-nav
}

nav.nav .nav__items  {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


nav.nav .nav__items li:not(.nav__logo) {
    letter-spacing: 3px;
    font-size: 1.2em;
    padding: $padding-nav-items;
    white-space: nowrap;
    font-weight: lighter;
    text-transform: uppercase;
}

nav.nav .nav__logo img{
    width: 4em;
    padding: 10px 0;
}

nav.nav .nav__link {
    width: $w-100;
    text-align: center;
    display: none;
    order: 2;
}

nav.nav .nav__link.active {
    display: block;
}


nav.nav .nav__toggle {
    order: 1;
    cursor:pointer;
    padding: 10px 10px !important;
}

nav.nav .nav__toggle span {
    vertical-align: super;
}


nav.nav .nav__toggle .nav__toggle_bars {
    background: $color-white;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
nav.nav .nav__toggle .nav__toggle_bars:before,
nav.nav .nav__toggle .nav__toggle_bars:after {
    background: $color-white;
    content: '';
    display: block;
    height: $h-100;
    position: absolute;
    transition: all .2s ease-out;
    width: $w-100;
}
nav.nav .nav__toggle .nav__toggle_bars:before {
    top: 5px;
}
nav.nav .nav__toggle .nav__toggle_bars:after {
    top: -5px;
}



// Section Banner
#banner {
	background-image: url(../image/header.jpg);
	position: relative;
	height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: 1;
}

.banner {
    margin: 0 auto;
	padding: 0 50px;
    max-width: 1500px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner__body{
    text-align: center;
}

.banner .banner__title{
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
}

.banner .banner__title h1{
    font-size: $h1-font-size * 2;
    color: $color-white;
    font-family: $font-crimson-r;
    font-weight: $font-weight-light;
    letter-spacing: 3px;
}

.banner .banner__button{
    position: absolute;
    bottom: 135px;
    left: 0;
    width: $w-100;
}


// About
#about, #menu{
    font-family: $font-crimson-r;
    padding: 50px;
}

#about {
    padding-top: 80px;
}

.about .about__title, .menu .menu__title, .moods .moods__title{
    text-align: center;
    margin: auto;
    max-width: 730px;
    
}

.about .about__title h1, .menu .menu__title h1, .moods .moods__title h1{
    margin-bottom: 10px;
}

.about .about__title p, .menu .menu__title p{
    margin-bottom: 25px;
}

.about .about__column {
    margin-top: 8px;
    padding: 0 4px;
    flex: 25%;
    max-width: 25%;
    -ms-flex: 25%;
}
 
.about .about__column img {
    width: 100%;
    vertical-align: middle;
}


.about .about__column .container {
    position: relative;
    width: $h-100;
}

.about .about__column .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(255,255,255,.3);
    overflow: hidden;
    width: 0;
    height: $h-100;
    transition: .5s ease;
}

.about .about__column .about__column_image {
    display: block;
    width: $w-100;
    height: $h-100;
    max-height: 500px;
}

.about .about__column :hover .overlay {
    width: 100%;
}

.about .about__column .container h2{
    color: $color-white;
    font-size: $h2-font-size;
    text-transform: uppercase;
    height: $h-100;
    width: $w-100;
    text-align: center;
    position: absolute;
    top: 45%;
}

// Menu
#menu {
    padding-top: 80px;
}

.menu .menu__button{
    padding-top: 20px;
    text-align: center;
}


// Moods
#moods {
    padding: 50px 0;
}

.moods {
    padding: 40px 20px;
    background: $color-black-10;
    min-height: 300px;
}

.moods .moods__title {
    font-family: $font-crimson-r;

}

.moods .moods__list {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 30px;
}

.moods .moods__item {
    flex: 40%;
}

.moods-item:nth-child(2) {
    flex: 20%;
}

.moods .moods__item:first-child {
    padding-left: 100px;
}

.moods .moods__item:last-child {
    padding-right: 100px;
}

.moods .moods__item img {
    width: 4em;
}

  

// Blog
#blog {
    padding: 50px 350px;
}

.blog{
    overflow: auto;
}

.blog .blog__image{
    float: left;
    width: $w-25;
}

.blog .blog__text{
    float: right;
    width: $w-75;
    padding-left: 70px;
}

.blog .blog__text h1{
    font-family: $font-crimson-r;
    line-height : $line-height - .5;
    font-size: $h1-font-size;
    padding-bottom: 15px;
}

.blog .blog__text h2{
    font-size: $h2-font-size;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.blog .blog__text h3{
    font-size: $h5-font-size;
    line-height: $line-height - .2;
    text-align: justify;
    padding-bottom: 20px;
    color: $color-black-70;
}

.blog .blog__text p{
    padding-bottom: 20px;

}

.blog .blog__text a, .blog .blog__text i{
    text-transform: uppercase;
    color: $color-black-80;
}



// Contact
#contact {
    padding: 30px 50px;
    margin-top: 50px;
    background: rgb(46,46,46);
}

.contact{
    overflow: auto;
    color: rgba(255,255,255,.7);
}

.contact p{
    letter-spacing: 1px;
}

.contact .contact__image{
    float: left;
    width: $w-30;
    padding-right: 80px;
    text-align: right;
}

.contact .contact__image img{
    width: 5em;
}

.contact .contact__text{
    float: left;
    width: $w-35;
    padding: 0 40px;
}

.contact .contact__news{
    float: right;
    width: $w-35;
    padding: 0 30px;
}

.contact .contact__news p{
    letter-spacing: 1px;
    text-transform: uppercase;
}


.contact .contact__news .contact__news_form input{
    width: $w-60;
    padding: 10px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(255,255,255,.3);
    box-sizing: border-box;
    background: transparent;
}


.contact .contact__news .contact__news_form .btn-style{
    letter-spacing: 1px;
    padding: 7px 20px;
}




// Media Query
@media screen and (max-width: 1400px) {
    #blog {
        padding: 50px 200px;
    }
}

@media screen and (max-width: 1200px) {
    #blog {
        padding: 50px 150px;
    }

    .contact .contact__image{
        width: $w-100;
        text-align: center;
        padding: 5px 30px;
        
    }
    
    .contact .contact__text{
        width: $w-100;
        padding: 15px 30px;
        text-align: center;
    }
    
    .contact .contact__news{
        width: $w-100;
        padding: 5px 30px;
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    nav.nav {
        padding: 0 2.5em;
    }

    section h1 {
        font-size: $h2-font-size;
    }

    .banner .banner__title h1 {
        font-size: $h1-font-size;
    }

    .about .about__column {
        max-width: $w-50;
        flex: $w-50;
        -ms-flex: $w-50;
    }

    .moods .moods__list {
        flex-direction: column;
    }

    .moods .moods__item:first-child {
        padding-left: 0;
    }
    
    .moods .moods__item:last-child {
        padding-right: 0;
    }

    .moods .moods__item {
        padding: 15px 0;
    }

    .moods .moods__item p{
        padding-top: 10px;
    }

    #blog {
        padding: 50px 100px;
    }
}

@media screen and (max-width: 800px) {
    .blog .blog__image{
        float: left;
        width: $w-100;
        text-align: center;
    }
    
    .blog .blog__text{
        float: right;
        width: $w-100;
        padding: 20px 0;
    }

    #contact {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 600px) {
    section h1 {
        font-size: $h3-font-size;
    }

    .banner .banner__title h1 {
        font-size: $h1-font-size + .5;
    }
    
    .about .about__column {
        max-width: $w-100;
        flex: $w-100;
        -ms-flex: $w-100;
    }

    #blog {
        padding: 50px;
    }
}

@media screen and (min-width: 1000px) {
    nav.nav .nav__link {
        display: block;
        width: auto;
    }
    nav.nav .nav__toggle {
        display: none;
    }
    nav.nav .nav__logo {
        order: 0;
    }
}

@media screen and (min-width: 468px) {
    nav.nav .nav-items {
        justify-content: center;
    }

    nav.nav .nav__logo {
        flex: 1;
    }
}