@font-face {
  font-family: "Crimson R";
  src: url("../fonts/crimson_text/CrimsonText-Regular.ttf");
}
@font-face {
  font-family: "Barlow Condensed R";
  src: url("../fonts/barlow_condensed/BarlowCondensed-Regular.ttf");
}
@font-face {
  font-family: "Barlow Condensed L";
  src: url("../fonts/barlow_condensed/BarlowCondensed-Light.ttf");
}
@font-face {
  font-family: "Barlow Condensed T";
  src: url("../fonts/barlow_condensed/BarlowCondensed-Thin.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Barlow Condensed L";
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

button {
  padding: 7px 35px;
}

button, a {
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

article {
  width: 100%;
}

.row {
  padding: 0 4px;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.btn {
  padding: 7px 35px;
}

.btn-style {
  background-color: #f2c46d;
  font-family: "Barlow Condensed R" !important;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

section h1 {
  font-size: 2.5rem;
}

nav.nav {
  background: transparent;
  padding: 0 10em;
}

nav.nav .nav__items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav.nav .nav__items li:not(.nav__logo) {
  letter-spacing: 3px;
  font-size: 1.2em;
  padding: 10px 30px;
  white-space: nowrap;
  font-weight: lighter;
  text-transform: uppercase;
}

nav.nav .nav__logo img {
  width: 4em;
  padding: 10px 0;
}

nav.nav .nav__link {
  width: 100%;
  text-align: center;
  display: none;
  order: 2;
}

nav.nav .nav__link.active {
  display: block;
}

nav.nav .nav__toggle {
  order: 1;
  cursor: pointer;
  padding: 10px 10px !important;
}

nav.nav .nav__toggle span {
  vertical-align: super;
}

nav.nav .nav__toggle .nav__toggle_bars {
  background: white;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

nav.nav .nav__toggle .nav__toggle_bars:before,
nav.nav .nav__toggle .nav__toggle_bars:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

nav.nav .nav__toggle .nav__toggle_bars:before {
  top: 5px;
}

nav.nav .nav__toggle .nav__toggle_bars:after {
  top: -5px;
}

#banner {
  background-image: url(../image/header.jpg);
  position: relative;
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.banner {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1500px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner__body {
  text-align: center;
}

.banner .banner__title {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
}

.banner .banner__title h1 {
  font-size: 5rem;
  color: white;
  font-family: "Crimson R";
  font-weight: 300;
  letter-spacing: 3px;
}

.banner .banner__button {
  position: absolute;
  bottom: 135px;
  left: 0;
  width: 100%;
}

#about, #menu {
  font-family: "Crimson R";
  padding: 50px;
}

#about {
  padding-top: 80px;
}

.about .about__title, .menu .menu__title, .moods .moods__title {
  text-align: center;
  margin: auto;
  max-width: 730px;
}

.about .about__title h1, .menu .menu__title h1, .moods .moods__title h1 {
  margin-bottom: 10px;
}

.about .about__title p, .menu .menu__title p {
  margin-bottom: 25px;
}

.about .about__column {
  margin-top: 8px;
  padding: 0 4px;
  flex: 25%;
  max-width: 25%;
  -ms-flex: 25%;
}

.about .about__column img {
  width: 100%;
  vertical-align: middle;
}

.about .about__column .container {
  position: relative;
  width: 100%;
}

.about .about__column .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.about .about__column .about__column_image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.about .about__column :hover .overlay {
  width: 100%;
}

.about .about__column .container h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
}

#menu {
  padding-top: 80px;
}

.menu .menu__button {
  padding-top: 20px;
  text-align: center;
}

#moods {
  padding: 50px 0;
}

.moods {
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.1);
  min-height: 300px;
}

.moods .moods__title {
  font-family: "Crimson R";
}

.moods .moods__list {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 30px;
}

.moods .moods__item {
  flex: 40%;
}

.moods-item:nth-child(2) {
  flex: 20%;
}

.moods .moods__item:first-child {
  padding-left: 100px;
}

.moods .moods__item:last-child {
  padding-right: 100px;
}

.moods .moods__item img {
  width: 4em;
}

#blog {
  padding: 50px 350px;
}

.blog {
  overflow: auto;
}

.blog .blog__image {
  float: left;
  width: 25%;
}

.blog .blog__text {
  float: right;
  width: 75%;
  padding-left: 70px;
}

.blog .blog__text h1 {
  font-family: "Crimson R";
  line-height: 1;
  font-size: 2.5rem;
  padding-bottom: 15px;
}

.blog .blog__text h2 {
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.blog .blog__text h3 {
  font-size: 1.25rem;
  line-height: 1.3;
  text-align: justify;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.blog .blog__text p {
  padding-bottom: 20px;
}

.blog .blog__text a, .blog .blog__text i {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

#contact {
  padding: 30px 50px;
  margin-top: 50px;
  background: #2e2e2e;
}

.contact {
  overflow: auto;
  color: rgba(255, 255, 255, 0.7);
}

.contact p {
  letter-spacing: 1px;
}

.contact .contact__image {
  float: left;
  width: 30%;
  padding-right: 80px;
  text-align: right;
}

.contact .contact__image img {
  width: 5em;
}

.contact .contact__text {
  float: left;
  width: 35%;
  padding: 0 40px;
}

.contact .contact__news {
  float: right;
  width: 35%;
  padding: 0 30px;
}

.contact .contact__news p {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact .contact__news .contact__news_form input {
  width: 60%;
  padding: 10px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background: transparent;
}

.contact .contact__news .contact__news_form .btn-style {
  letter-spacing: 1px;
  padding: 7px 20px;
}

@media screen and (max-width: 1400px) {
  #blog {
    padding: 50px 200px;
  }
}
@media screen and (max-width: 1200px) {
  #blog {
    padding: 50px 150px;
  }

  .contact .contact__image {
    width: 100%;
    text-align: center;
    padding: 5px 30px;
  }

  .contact .contact__text {
    width: 100%;
    padding: 15px 30px;
    text-align: center;
  }

  .contact .contact__news {
    width: 100%;
    padding: 5px 30px;
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  nav.nav {
    padding: 0 2.5em;
  }

  section h1 {
    font-size: 2rem;
  }

  .banner .banner__title h1 {
    font-size: 2.5rem;
  }

  .about .about__column {
    max-width: 50%;
    flex: 50%;
    -ms-flex: 50%;
  }

  .moods .moods__list {
    flex-direction: column;
  }

  .moods .moods__item:first-child {
    padding-left: 0;
  }

  .moods .moods__item:last-child {
    padding-right: 0;
  }

  .moods .moods__item {
    padding: 15px 0;
  }

  .moods .moods__item p {
    padding-top: 10px;
  }

  #blog {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 800px) {
  .blog .blog__image {
    float: left;
    width: 100%;
    text-align: center;
  }

  .blog .blog__text {
    float: right;
    width: 100%;
    padding: 20px 0;
  }

  #contact {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 600px) {
  section h1 {
    font-size: 1.75rem;
  }

  .banner .banner__title h1 {
    font-size: 3rem;
  }

  .about .about__column {
    max-width: 100%;
    flex: 100%;
    -ms-flex: 100%;
  }

  #blog {
    padding: 50px;
  }
}
@media screen and (min-width: 1000px) {
  nav.nav .nav__link {
    display: block;
    width: auto;
  }

  nav.nav .nav__toggle {
    display: none;
  }

  nav.nav .nav__logo {
    order: 0;
  }
}
@media screen and (min-width: 468px) {
  nav.nav .nav-items {
    justify-content: center;
  }

  nav.nav .nav__logo {
    flex: 1;
  }
}

/*# sourceMappingURL=main.css.map */
